.header {
  background-color: #666666;
  height: 100px;
  text-align: center;
  padding-top: 30px;
  color: aliceblue;
  font-size: 25px;
}

.main-body {
  padding: 20px 30px;
  background-color: #a9e4a78e;
  height: 1000px;
}

.aside {
  background-color: rgb(78, 87, 84);
  height: 300px;
  text-align: center;
  padding: 120px;
  color: rgb(255, 255, 255);
}

.article {
  height: 600px;
  color: white;
}

.weather-main {
  margin-bottom: 10px;
  display: none;
  color: black;
  padding-top: 20px;
  padding-bottom: 5px;
}

.small-block0 {
  padding: 20px;
  margin-left: 10px;
  background-color: grey;
  display: none;
  height: 200px;
  border: 1px solid black;
}

.small-block1 {
  padding: 20px;
  background-color: grey;
  display: none;
  height: 200px;
  border: 1px solid black;
}

.small-block2 {
  padding: 20px;
  background-color: grey;
  display: none;
  height: 200px;
  border: 1px solid black;
}

.small-block3 {
  padding: 20px;
  background-color: grey;
  display: none;
  border: 1px solid black;
}

.nextDay {
  display: flex;
  justify-content: space-around;
}
